Task1

In [6]:
import pandas as pd
import numpy as np

In [7]:
#using numpy's randint
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))

In [8]:
#preview the df
df

     A   B   C   D
0   14  85  57  59
1   46   6  71  57
2   45  70  57   3
3   20  31  32  21
4   70  36  88  64
5   83  75  43   4
6   50  47  15  22
7   77  74   8  93
8   22  70  15  60
9   53  78  29  51
10  10   7  12  93
11  35  16  53  57
12  51   4  85  64
13   7  41  86  23
14   1  10  19   7

Task 2

In [10]:
import pandas as pd
import random

# use sample data to create data frame
data = [(1, ["Elle", "Harpers", "Cosmo"]),
        (2, ["Elle", "Vogue"]),
        (3, ["Cosmo"])]
df = pd.DataFrame(data, columns=['row', 'sites'])

# get unique sites
unique_sites = df.explode('sites').loc[:, 'sites'].sort_values().unique()

# build map from actual site to masked site - could use full alphabet below
random.seed(123456)
site_to_scrambled = {
    site: ''.join(random.choices('ABCDEFGHI', k=4))
    for site in unique_sites }

def convert(sites, site_to_scrambled):
    return [site_to_scrambled[site] for site in sites]

# apply the conversion 
# (keep both sites and sites_scrambled to verify)
df['sites_scrambled'] = df['sites'].apply(
    lambda x: convert(x, site_to_scrambled))
print(df)

   row                   sites     sites_scrambled
0    1  [Elle, Harpers, Cosmo]  [AFAC, BCEB, HHAB]
1    2           [Elle, Vogue]        [AFAC, AIDF]
2    3                 [Cosmo]              [HHAB]

Task 3

In [13]:
import pandas as pd

data = {'product': ['A', 'B', 'C', 'C', 'D'],
        'price': [22000, 27000, 25000, 29000, 35000],
        'year': [2014, 2015, 2016, 2017, 2018]
        }

df = pd.DataFrame(data)

stats_numeric = df['price'].describe()
print(stats_numeric)

count        5.000000
mean     27600.000000
std       4878.524367
min      22000.000000
25%      25000.000000
50%      27000.000000
75%      29000.000000
max      35000.000000
Name: price, dtype: float64

Task 4

In [14]:
import pandas as pd
import numpy as np

data = {'set_of_numbers': [1,2,3,4,5,np.nan,6,7,np.nan,8,9,10,np.nan]}
df = pd.DataFrame(data)

check_for_nan = df['set_of_numbers'].isnull()
print (check_for_nan)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12     True
Name: set_of_numbers, dtype: bool

Task 5

In [16]:
import numpy as np
import pandas as pd

data = np.random.randint(5,30,size=(10,3))
df = pd.DataFrame(data, columns=['random_numbers_1', 'random_numbers_2', 'random_numbers_3'])

print(df)

   random_numbers_1  random_numbers_2  random_numbers_3
0                26                24                 8
1                21                18                11
2                 9                18                29
3                27                 8                10
4                23                15                18
5                27                24                 9
6                17                10                 9
7                 6                 7                25
8                21                12                24
9                19                13                24